In [1]:
import pandas as pd

file_to_load = '/Users/danvaldes/Desktop/bootcamp/repo/04-Pandas/Homework/Instructions/HeroesOfPymoli/Resources/purchase_data.csv'

purchase_data = pd.read_csv(file_to_load);

In [2]:
# creates df with all unique players with gender and age, print a preview

unique_players = purchase_data[['SN','Gender','Age']].drop_duplicates('SN')
unique_players.head();

# creates df with all unique items with ID and price, print a preview

unique_items = purchase_data[['Item Name', 'Item ID', 'Price']].drop_duplicates('Item Name')
unique_items.head();

## Player Count

In [ ]:
summary_df = pd.DataFrame({
    'Total Players':[unique_players['SN'].count()]
})
summary_df

## Item Analysis

In [ ]:
averageprice = unique_items['Price'].mean()
totalrev = purchase_data['Price'].sum()
pd.options.display.float_format = '${:,.2f}'.format

purchasing_analysis_df = pd.DataFrame({  
    'Number of Unique Items':unique_items['Item Name'].count(),
    "Average Price": averageprice,
    "Number of Purchases": [purchase_data['Purchase ID'].count()],
    "Total Revenue": totalrev,
})

purchasing_analysis_df

## Gender Demographics

In [ ]:
pd.options.display.float_format = '{:,.2f}%'.format

gender_demo = pd.DataFrame({
    'Total Count': unique_players['Gender'].value_counts(),  
    'Percentage of Players': (unique_players['Gender'].value_counts() / unique_players['SN'].count()) * 100
})
gender_demo

## Gender Spending Analysis

In [ ]:
gender_group = purchase_data.groupby('Gender')

avgpurpri = gender_group['Price'].mean()
totpurval = gender_group['Price'].sum()
avgtotpur = gender_group['Price'].sum() / unique_players['Gender'].value_counts()
pd.options.display.float_format = '${:,.2f}'.format

gender_purchase_df = pd.DataFrame({
    'Purchase Count':gender_group['Purchase ID'].count(),
    'Average Purchase Price':avgpurpri,
    'Total Purchase Value':totpurval,
    'Avg Total Purchase per Person':avgtotpur 
})

gender_purchase_df

In [3]:
# create bins and labels for 'Age Ranges' column

bins = [0,9,14,19,24,29,34,39,99]
labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']


# adding 'Age Ranges' column to both dataframes
purchase_data['Age Ranges'] = pd.cut(purchase_data['Age'], bins = bins, labels = labels)
purchase_data = purchase_data[['Purchase ID','SN','Age','Age Ranges','Gender','Item ID','Item Name','Price']]

unique_players['Age Ranges'] = pd.cut(unique_players['Age'], bins = bins, labels = labels)
unique_players = unique_players[['SN','Age','Age Ranges','Gender']]

# grouping dataframes by 'Age Ranges'
purchase_group_age = purchase_data.groupby('Age Ranges')
player_group = unique_players.groupby('Age Ranges')

## Age Demographics

In [ ]:
pd.options.display.float_format = '{:,.2f}%'.format

age_demo_df = pd.DataFrame({
    'Total Count': player_group['SN'].count(),
    'Percentage of Players':(player_group['SN'].count() / unique_players['SN'].count()) * 100
})

age_demo_df

## Age Spending Analysis

In [ ]:
pd.options.display.float_format = '${:,.2f}'.format

age_purchase_df = pd.DataFrame ({
    'Purchase Count':purchase_group_age['Purchase ID'].count(),
    'Average Purchase Price':purchase_group_age['Price'].mean(),
    'Total Purchase Value':purchase_group_age['Price'].sum(),
    'Avg Total Purchase per Person':purchase_group_age['Price'].sum() / player_group['SN'].count()
})

age_purchase_df

## Top Spenders

In [4]:
purchase_group_sn = purchase_data.groupby('SN')

pd.options.display.float_format = '${:,.2f}'.format
top_spenders_df = pd.DataFrame({
    'Purchase Count':purchase_group_sn['Purchase ID'].count(),
    'Average Purchase Price': purchase_group_sn['Price'].sum() / purchase_group_sn['Purchase ID'].count(),
    'Total Purchase Value':purchase_group_sn['Price'].sum(),
})


top_spenders_df.sort_values(by='Total Purchase Value', ascending = False).head(10)

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                  5                   $3.79                $18.96
Idastidru52                4                   $3.86                $15.45
Chamjask73                 3                   $4.61                $13.83
Iral74                     4                   $3.40                $13.62
Iskadarya95                3                   $4.37                $13.10
Ilarin91                   3                   $4.23                $12.70
Ialallo29                  3                   $3.95                $11.84
Tyidaim51                  3                   $3.94                $11.83
Lassilsala30               3                   $3.84                $11.51
Chadolyla44                3                   $3.82                $11.46

In [9]:
print(unique_players.loc[unique_players['SN'] == 'Lisosia93'])
print(unique_players.loc[unique_players['SN'] == 'Idastidru52'])

           SN  Age Age Ranges Gender
74  Lisosia93   25      25-29   Male
              SN  Age Age Ranges Gender
290  Idastidru52   24      20-24   Male

## Most Profitable Items

In [ ]:
pd.options.display.float_format = '${:,.2f}'.format

pop_items_group = purchase_data.groupby(['Item ID','Item Name'])

top_items_df = pd.DataFrame({
    'Purchase Count':pop_items_group['Purchase ID'].count(),
    'Item Price':pop_items_group['Price'].max(),
    'Total Purchase Value':pop_items_group['Purchase ID'].count() * pop_items_group['Price'].max()
})

top_items_df.sort_values(by = 'Total Purchase Value', ascending = False).head()

## Most Profitable Items (Missing Item)

In [ ]:
pd.options.display.float_format = '${:,.2f}'.format

pop_items_group = purchase_data.groupby(['Item Name'])

top_items_df = pd.DataFrame({
    'Purchase Count':pop_items_group['Purchase ID'].count(),
    'Item Price':pop_items_group['Price'].max(),
    'Total Purchase Value':pop_items_group['Purchase ID'].count() * pop_items_group['Price'].max()
})

top_items_df.sort_values(by = 'Total Purchase Value', ascending = False).head(3)

## Observations


### Gender Demographics
Heroes of PyMoli has a player base of 576 unique players. The overwhelming majority of players are male (84%) who consequently make 84% of all purchases. Within each gender group, there are a fair bit of repeat buyers and the average amount spent is uniform among genders.

### Age Demographics
The majority of players fall into the 15 - 29 range and about ~24% of players fall on either side of that range. The two age ranges that spend the most are the <10 range and 35 - 39 range.

### Top Spenders & Top Items
Our top spenders are "Lisosia93" and "Idastidru52", two male players who are 24 and 25. Our top item is "Oathbreaker, Last Hope of the Breaking Storm" which has been bought 12 times bringing in revenue of 50.76. It should be noted that when we group by "Item Name" alone we find another item at the top of the list; "Final Critic" which has been bought 13 times and brings in revenues of 63.44. Final Critic may be missing an Item ID which is why it was left out of our other dataframe.